/docs/
/temp/
/src/
/test/
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.gitignore
/.idea
/.ignore
/.mailmap
/.npmignore
/.npmrc
/.nvmrc
/.prettierignore
/.prettierrc
/.travis.yml
/.yarnrc
/_config.yml
/CHANGELOG.md
/LICENSE
/README.md
/CNAME
